body {
    font-family: Inter;
    line-height: 1.5;
    max-width: 800px;
    justify-content: center; /* Horizontally center its children */
    margin: 0 auto; /* Center the container horizontally */
    padding-bottom: 60px;
}

h1 {
    text-align: center;
}

.logo {
    height: 60px;
    vertical-align: middle; /* Ensures alignment with text */
    margin-right: 10px; /* Add some space between the image and text */
    display: inline-block;
}

p {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    /* border: 2px solid #ff8488; */
    border: 2px solid #ddd;
    border-radius: 15px;
    margin-bottom: 20px;
}

th, td {
    /* border: 2px solid #ddd; Set border to a light gray color */
    padding: 8px; /* Add padding inside cells */
    text-align: left; /* Align text to the left within cells */
    vertical-align: top;
    position: relative;
  }

th {
    background-color: #f2f2f2; /* Set a light gray background color for header cells */
}

.date {
    border-bottom: 2px solid #ddd;
    /* border-right: 2px solid #ddd; */
    /* border-bottom: 2px solid #ff8488; */
    text-align: center; 
    z-index: 10;
    position: relative;
}

 .split {
    border-top: 2px solid #ddd;
    /* border-bottom: 2px solid #ff8488 */
 }  

/* .content {
    /* text-align: center; Center the text inside the container 
} */

h3 {
    margin: 0;
}

.left {
    width: 140px;
    text-align: center;
    border-right: 2px solid #ddd;
    /* border-right: 2px solid #ff8488; */
    z-index: 1;
    position: relative;
}

.profile {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
}

.affiliation {
    text-align: center;
}

/* https://www.w3schools.com/howto/howto_js_collapsible.asp */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
} 

.title {
    margin-bottom: 20px;
} 
