body {
    font-family: Inter;
    line-height: 1.5;
    max-width: 800px;
    justify-content: center; /* Horizontally center its children */
    margin: 0 auto; /* Center the container horizontally */
    padding-bottom: 60px;
}

h1 {
    text-align: center;
}

.logo {
    height: 60px;
    vertical-align: middle; /* Ensures alignment with text */
    margin-right: 10px; /* Add some space between the image and text */
    display: inline-block;
}

p {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

table{
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 2px solid #ddd; /* Set border to a light gray color */
    padding: 8px; /* Add padding inside cells */
    text-align: left; /* Align text to the left within cells */
    vertical-align: top;
  }
  th {
    background-color: #f2f2f2; /* Set a light gray background color for header cells */
  }

/* .content {
    /* text-align: center; Center the text inside the container 
} */

h3, h4 {
    margin: 0;
}

.left {
    width: 200px;
    text-align: center;
}

.profile {
    width: 190px;
}

.affiliation {
    text-align: center;
}
